
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.no-background {
  background-color: transparent;
}

.index-page {
  h3 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
  }
}


.profile-outer {
  margin: 10px 0 0 0;
}

.profileContainer {
  position: relative;
  width: 600px;
  height: 330px;
  margin: 0px auto 5px;
  background-size: cover;

  @include respond-to-max(xs) {
    width: 100%;
    height: 240px;
  }

}

#profilePhoto {
  background-image:asset_url("profile.jpg");
  display: inline-block;
  background-size: contain;
  width: 152px;
  height: 152px;
  border-radius: 150px;
  margin-top: 85px;
  margin-left: 17px;

  @include respond-to-max(md){
    margin-top: 85px;
    margin-left: 17px;
  }

  @include respond-to-max(xs){
    margin-top: 0;
    width: 200px;
    height: 200px;
  }
}

#profileFrame {
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.6;

  @include respond-to-max(md) {
    top: 15px;

    img {
      width: 90%;
    }
  }

  @include respond-to-max(xs) {
    display: none;
  }

}

.index-note {
  font-size: 18px;
  font-weight: 800;
  font-family: $alice-font;

  .count-down {
    font-size: 20px;
  }

  hr {
     border-top-color: $offBlack;
  }
}

.navbar-public {
  border-radius: 0;

  @include respond-to(sm) {

    .navbar-collapse {
      margin-left: 20%;
    }

    .navbar-nav {
      border-bottom: 1px solid gray;

      li {
        border-bottom: 2px solid gray;
        padding: 0 4px;

        a {
          color: #777777;

          &:hover {
           color: black;
          }
        }

        &:hover {
          border-bottom-color: black;
        }
      }
    }

  }
}

.navbar-mobile {
  .navbar-public {
    @include respond-to-max(xs) {
      background-color: white;
      border-color: #090909;

      .navbar-nav {
        li a {
          color: #777777;
          &:hover {
            color: black;
          }
        }
      }

      .navbar-collapse {
        border-color: #101010;
      }

      .navbar-toggle {
        border-color: #333333;
        .icon-bar {
          background-color: gray;
        }

        &:hover, &:focus{
          background-color: $greyMiddle;
        }
      }
    }
  }
}