<div class="row">
  <div class="col-md-8">
    <h1>Users</h1>
  </div>
  <div class="col-md-4">
    <%= link_to link_to 'create new user', "#newUser", :class => 'btn btn-primary newUserModal', 'data-toggle' => 'modal'  %>
  </div>
</div>
<table>
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
          </tr>
      <% end %>
</table>

</div>

