<%# add navigation links to this file %>
<li><%= link_to 'Guests', guests_path %></li>
<li><%= link_to 'Addresses', addresses_path %></li>
<!--<li><%= link_to 'Home', admin_path %></li>-->
<!--<li><%= link_to 'Home', admin_path %></li>-->